<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="10" size-md="8" size-lg="7" size-xl="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Contact Form</ion-card-subtitle>
          </ion-card-header>

          <form>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input [(ngModel)]="name" id="name" type="text" placeholder="Name"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input [(ngModel)]="email" id="email" type="email" placeholder="email@gmail.com"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Subject</ion-label>
              <ion-input [(ngModel)]="subject" id="subject" type="text" placeholder="Subject"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Message</ion-label>
              <ion-textarea [(ngModel)]="message" id="message" type="text" placeholder="Message"></ion-textarea>
            </ion-item>

            <ion-item>
              <ion-button type="submit" (click)="contactSubmit()" color="primary" class="ion-activatable ripple-parent">Submit</ion-button>
              <ion-button color="dark" class="ion-activatable ripple-parent">Cancel</ion-button>
            </ion-item>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
