<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      How To Use ChordScale
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">How To Use ChordScale</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Step 1: Choose Root of Chord</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img src="./assets/images/RootExample.png"></ion-img>
          </ion-card-content>
          <ion-card-content>
            The "Root" of a chord is the lowest fundamental note of the collection of notes that make up a particular chord.
            Of the 3-4 notes that make up most scales, this one will be clearly visible by the chord symbol
            and is one of the most important notes for inferring the context of the chord being analyzed.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">  
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Step 2: Choose Type of Chord</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img src="./assets/images/ChordTypeExample.png"></ion-img>
          </ion-card-content>
          <ion-card-content>
            The Chord's "Type" refers to the quality of the Chord. The relationships between each note of the chord alters 
            how the Chord sounds and functions. Using this calculator, one will be able to decipher which notes and scales 
            are usable when playing and improvising over the analyzed Chord.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Step 3: Use Chord Data</ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
              Once the Chord Data has loaded, you will be able to hear what these
              scales and notes sound like, as well as their names and musical-spellings. 
              Always remember that NO NOTE IS INHERENTLY WRONG - but there are ones that sound better than others!
              The idea behind this app is building *Synchronicity* 
              between your brain, your ears, and your heart. Being able to hear the notes and scales
              and play them back will strengthen one's musical ear, and their confidence in playing and
              creating music. Spend enough time with all of these sounds, and one can become fluent in music!
              Knowledge + Time = Wisdom!
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Step 4: But... How?</ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
              It's all well and good to have this information, but how do you actually <em>use</em> these notes? 
              One way to think about it:<br>- The <strong>chord tones</strong> are the main stops in your journey (your solo/melody) - the hotel, airport, gas-station, family/friend homes, etc. Using these notes will ensure that you play something good, no matter what! 
              While playing only the chord tones is an extremely useful exercise, it's not very musical and sounds stale if over done. So what else can you do?<br>
              - <strong>Scales</strong> are the best routes to get to these main points along your journey. Every scale that works with a particular chord contains the important "stops" (<strong>chord tones</strong>)!<br>
              - The <strong>chord extensions</strong> are some interesting things to do on your journey, but not anything that is vitally important for having a worthwhile journey. Depending on the journey, however, it could be a highlight! 
              If these extensions are explicitly noted in the chord symbol, they are likely an important part of the melody so it's worth the trip!<br>
              - As stated earlier, <em>no note is inherently wrong</em>. Certain "wrong" notes can be used to emphasize the important ones! You can play all sorts of wrong notes and still sound good, but they must be used with intention and context or else your journey will be less enjoyable.
              You have to know the rules if you want to break them!
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Step 5: "Learn all your scales..."</ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
              <strong>"... then forget that BS and PLAY!"</strong> - a paraphrased quote from Charlie Parker that has circulated throughout the music world in one way or another. 
              The important part of this sentiment is to remember that music is a language. You listen to it, learn the grammar, the spelling, certain nuances and tones, and after constant practice you're conversational or even fluent! 
              That comes from hearing it, learning it, and speaking it - Syncronicity! Once you're comfortable with a language, you can start having fun with it and breaking it apart 4 ur oWn amyooz-mint.<br><em>Get it?</em>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
